*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid blue; /*for debugging*/
    height: 80vh;
    width: 80vh;

}

.col {
    flex: 1;
}

.block, .hovered {
    border: 1px solid white;
    height: calc(80vh / 16);
    box-sizing: border-box;
}

.hovered {
    background-color: red;
}